body {
  height: 100vh;
  width: 100vw;
}
.homepage-container {
  display: none;
  // background-image: radial-gradient(lightgray 50%, transparent);
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  // display: flex;
  justify-content: space-between;
}
.red-door-container-wall, .gold-door-container-wall, .blue-door-container-wall {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.red-door-container-wall {
  // background-image: linear-gradient(to right, white 70%, transparent);
  background-color: white;
  width: 1000px;
  height: 400px;
  // border: 1px solid lightgray;
  // border-right: 0;
  transform: perspective(200px) rotateY(20deg);
  transition: transform 0.5s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.red-door{
  height: 400px;
  width: 150px;
  background-color: red;
  transform: perspective(-200px) rotateY(-20deg);
  transition: transform 0.5s ease, box-shadow 0.5s ease-in, height 0.5s ease;
}

.red-door:hover{
  height: 395px;
  width: 150px;
  transform: perspective(200px) rotateY(20deg);
  box-shadow: 20px -10px 40px rgba(255,192,203,0.8);
  /*animation: door-open 2s ease-in-out;
  animation-fill-mode: forwards;*/
}

.gold-door-container-wall {
  // padding-left: 200px;
  // width: 500px;
  // height: 270px;
  // border: 1px solid lightgray;
  // transform: perspective(200px) rotateY(0deg);
  // transition: transform 0.5s ease, box-shadow 0.5s ease-in;
  // overflow: hidden;
  // display: flex;
  // justify-content: center;
}

.gold-door {
  height: 270px;
  width: 130px;
  background-color: gold;
  transform: perspective(200px) rotateY(0deg);
  transition: height 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease, left 0.5s ease;
  position: relative;
  left: 0;
}

.gold-door:hover{
  transform: perspective(200px) rotateY(5deg);
  height: 280px;
  box-shadow: -20px -1px 70px yellow;
  left: 3px;
  /*left: 200px;*/
}

.blue-door-container-wall {
  // background-image: linear-gradient(to left, white 70%, transparent);
  background-color: white;
  width: 1000px;
  height: 400px;
  // border: 1px solid lightgray;
  // border-left: 0;
  // transition: transform 0.5s ease, box-shadow 0.5s ease-in;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transform: perspective(200px) rotateY(-20deg);
}

.blue-door {
  height: 400px;
  width: 150px;
  background-color: blue;
  transform: perspective(-200px) rotateY(-20deg);
  transition: transform 0.5s ease, box-shadow 0.5s ease-in, height 0.5s ease;
}

.blue-door:hover{
  height: 395px;
  transform: perspective(1000px) rotateY(-25deg);
  box-shadow: -20px 0px 40px rgba(0,255,255,0.8);
}

.red-room-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .container-one {
    min-width: 50%;
    min-height: 50%;
    flex-basis: 1;
    background-color: blue;
    display: flex;
    justify-content: space-around;
  }
  .container-two {
    min-width: 50%;
    min-height: 50%;
    flex-basis: 2;
    background-color: green;
    display: flex;
    justify-content: space-around;
  }
  .container-three {
    min-width: 33%;
    min-height: 100%;
    flex-basis: 1;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .ornate-frame {
      height: 500px;
      width: 500px;
      background-size: contain;
      overflow: hidden;  
    }
  }
}

//
